page-home {

    $card-width : 80% !default;
    $card-height :  400px !default;
    $card-stack-difference : 15px !default;
    $card-stack-to-be-visible : 3 !default;

    [viewport]{
        position: relative;
        height: 450px;
    }


    swing-card{
        border: 2px solid #ddd;
        border-radius: 10px;
        background: #fff;
        color: #000;
        display: none;
        text-align: center;
        padding-top: 20%;
        width: $card-width;
        height: $card-height;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    
        @for $i from 1 to ($card-stack-to-be-visible + 1) {

            &:nth-last-child(#{$i})
            {
                display: block;
                height: calc( #{$card-height} +  #{$card-stack-difference} * #{$i});
                width: calc( #{$card-width} +  #{$card-stack-difference} * #{$i});
            }
        }
        
        &.meet{
            background: rgba(0, 204, 33,0.4)
        }

        &.pass{
            background: rgba(255, 0, 0, 0.4)
        }

        img{
            margin: 0;
            border-radius: 50%;
            width: 40%;
        }

        p{
            flex: 1
        }
    }




    [actions]
    {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        button{
            width: 40%;
            cursor: pointer;

            &:nth-child(1)
            {
                background: red;
            }

            &:nth-child(2)
            {
                background: green;
            }
        }
    }
}
